* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #222831;
    color: #ffffff;
}
.navbar {
    padding: 0 10px;
}
.navbar a {
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:first-child {
    font-weight: bolder;
}
.navbar hr {
    height: 5px;
    width: 35px;
    background: white;
    border: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.flex-4 {
    flex-basis: 50%;
}
.knowledge {
    background-image: url("./assets/waves.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 400px;
}
.know-box {
    background-color: #141419;
    border-radius: 15px;
    height: 350px;
    margin: 20px;
    position: relative;
}
.know-box h1 {
    padding: 10px;
    text-align: center;
}
.know-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center {
    text-align: center;
}
.contact input, .contact textarea {
    height: 40px;
    width: 250px;
    background: #141419;
    border: 2px solid #393e46;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}
.contact textarea {
    resize: vertical;
    width: 300px;
    height: 80px;
}
.contact input:focus , .contact textarea:focus {
    border-color: #ffd369;
}
.text-box {
    padding: 50px;
}
.text-box h1 {
    font-weight: 900;
    font-size: 40px;
}
.percentage {
    background-color: #222831;
    border-radius: 9999px;
    width: 200px;
}
.percentage-2 {
    background-color: #ffd369;
    color: #fff;
    border-radius: 9999px;
    width: 40%;
    height: 15px;
}
.skills {
    padding: 150px 0 0 0;
    background-color: #141419;
    background-image: url("./assets/dark-wv.png");
    background-position-y: top;
    background-repeat: no-repeat;
}
.skills-bg {
    position: absolute;
    z-index: -9;
}
.skills-box {
    padding: 50px;
}
.skills-box label {
    font-weight: bold;
}
.works {
    background-color: #ffd369;
    padding-top: 250px;
    padding-bottom: 250px;
    position: relative;
    background-image: url("./assets/up-wv.png"), url("./assets/down-wv.png");
    background-position-y: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.slider {
    display: flex;
    width: 90%;
    overflow-x: auto;
    margin: 50px auto;
}
.slider::-webkit-scrollbar {
    background-color: #00000026;
    border-radius: 15px;
}
.slider::-webkit-scrollbar-thumb {
    background-color: #00000050;
    border-radius: 15px;
}
.slider::-webkit-scrollbar-thumb:hover {
    background-color: #00000094;
    border-radius: 15px;
}
.slides {
    height: 150px;
    min-width: 300px;
    background: #141419;
    border-radius: 10px;
    margin: 5px;
}
.social-media {
    color: #ffffff;
    font-size: 30px;
}
.btn-action {
    height: 40px;
    width: 150px;
    background: #ffd369;
    border: 0;
    font-weight: 900;
    cursor: pointer;
    color: white;
    margin: 25px 0;
    border-radius: 5px;
}
.about {
    margin: 200px 0;
}
.btn-action:hover {
    transform: translate(5px, -5px);
    box-shadow: -5px 5px #ffffff;
}
.circle {
	position: absolute;
    border: solid 3px #ffffff;
	width: 60px; 
	height: 60px; 
    border-radius: 50%;  
}
.ski {
    width: 50%;
    margin: 0 auto;
}
.padding-50 {
    padding: 50px;
}
@media (max-width: 800px) {
    .flex {
        flex-direction: column;
    }
    .knowledge {
        background-size: 300%;
        padding-top: 200px;
    }
    .ski {
        width: 100%;
    }
    .padding-50 {
        padding: 0;
    }
    .works {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
